/* General */
/* TODO: color variables */

:root {
  --light-color: whitesmoke;
  --dark-color: #2f1f1f;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  /* using flex to place all stuff at the center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  /* choose img and place it in background prop 
  MDN research to refresh background prop*/
  /* background: url() no-repeat center center/ cover ; */
  background-color: violet;
}

/* maybe adjust height also */
.container {
  width: 80%;
}

.header {
  font-size: 1.22rem;
  width: 75%;
  max-width: 350px;
  margin: 2% auto;
  padding: 2.5px;
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 3px solid var(--light-color);  
  border-radius: 4%;
}

.main-content {  
  width: 100%;
  max-width: 467px;
  margin: 0 auto;
  padding: 3%;
  background-color: var(--light-color);
  border-radius: 2%;
}

.quote-text {

}